<%- include('../module/head') -%>
  <title><%= data.dec_strategy.title %>--互联网设计师专单平台|装修效果图|装修流程|施工监理_简繁家</title>
  <meta name="description" content="<%= data.dec_strategy.description %>">
  <meta name="keywords" content="<%= data.dec_strategy.keywords %>">
  <link rel="stylesheet" type="text/css" href="/static/css/public.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/article.css" />
<%- include('../module/header') -%>
    <main class="g-bd g-wp f-cb" id="j-detail">
      <article class="f-fl g-mn">
        <header class="m-tt">
          <h1><%= data.dec_strategy.title %></h1>
        </header>
        <section class="m-ct">
          <div class="content" id="content">
           <%- data.dec_strategy.content %>
          </div>
          <div class="toggle">
              <p>
                上一条：
                <% if(data.previous_article.length == 1){%>
                   <a href="/tpl/article/strategy/<%= data.previous_article[0]._id %>"><%= data.previous_article[0].title %></a>
                <%} else {%>
                   <span>这是第一条，没有上一条了</span>
                <%}%>
              </p>
              <p>
                下一条：
                <% if(data.next_article.length == 1){%>
                  <a href="/tpl/article/strategy/<%= data.next_article[0]._id %>"><%= data.next_article[0].title %></a>
                <%} else {%>
                   <span>这是最后一条，没有下一条了</span>
                <%}%>
              </p>
          </div>
        </section>
      </article>
      <aside class="f-fr g-sd">
        <div class="related">
          <h3>相关推荐</h3>
          <ul>
            <% for(var i=0; i < data.associate_articles.length; i++){%>
              <li><a class="u-placeholder-image" href="/tpl/article/strategy/<%= data.associate_articles[i]._id %>"><img src="/api/v2/web/thumbnail2/220/140/<%= data.associate_articles[i].cover_imageid %>" alt="<%= data.associate_articles[i].title %>"><span><%= data.associate_articles[i].title %></span></a></li>
            <%}%>
          </ul>
        </div>
        <div class="concern">
          <div class="box">
            <span class="arrow"></span>
            <span class="ribbonLeft"></span>
            <span class="ribbonRight"></span>
            <img src="/static/img/public/erweima.jpg" alt="关注简繁家" />
            <p>扫码掌握更多一手内容</p>
          </div>
        </div>
      </aside>
    </main>
  <script type="text/javascript" data-main="/static/js/article/detail" src="/static/js/lib/require.js"></script>
<%- include('../module/footer') -%>
