<%- include('../module/head') -%>
  <title>装修匠案例－<%=data.product.cell%></title>
  <meta name="description" content="<%= data.product.description %>">
  <meta name="keywords" content="装修,设计师,案例,作品">
  <link rel="stylesheet" type="text/css" href="/static/css/public.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/design.css" />
<%- include('../module/header') -%>
<div><%=JSON.stringify(data)%></div>
<%- include('../module/footer') -%>
