<%- include('../module/head') -%>
    <title><%= data.share.cell %></title>
    <meta name="description" content="简繁家提供家装设计、新房装修、装修流程、室内设计、家装设计、室内装修、施工监理等服务和装修知识、装修风格、装修效果图、装修设计图等信息。">
    <meta name="keywords" content="互联网装修,武汉装修,设计师平台,简繁家互联网装修平台,家装施工监理">
    <link rel="stylesheet" type="text/css" href="/static/css/public.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/live.css" />
<%- include('../module/header') -%>
    <div class="hide">
        <%= JSON.stringify(data) %>
    </div>
    <%
function house_type(input) {
    return {"0": "一室", "1": "二室", "2": "三室", "3": "四室", "4": "复式", "5": "别墅", "6": "LOFT", "7": "其他"}[input]
}
function dec_style(input) {
    return {"0": "欧式", "1": "中式", "2": "现代", "3": "地中海", "4": "美式", "5": "东南亚", "6": "田园"}[input]
}
function dec_type(input){ return {"0" : "家装","1" : "商装","2" : "软装"}[input]}
function businessHouseType(input) {
    return {
        "0": "餐厅",
        "1": "服装店",
        "2": "酒吧",
        "3": "美容院",
        "4": "办公室",
        "5": "美发店",
        "6": "幼儿园",
        "7": "酒店",
        "9999": "其他"
    }[input]
}
function work_type(input){ return { "0" : "半包", "1" : "全包", "2" : "纯设计"}[input] }
function textareaEscaped(value) {
    return value.toString().replace(/(\r)*\n/g, "<br />").replace(/\s/g, " ");
}
function format(date,format){
                var time = new Date(date),
                    o = {
                        "M+" : time.getMonth()+1, //month
                        "d+" : time.getDate(), //day
                        "h+" : time.getHours(), //hour
                        "m+" : time.getMinutes(), //minute
                        "s+" : time.getSeconds(), //second
                        "q+" : Math.floor((time.getMonth()+3)/3), //quarter
                        "S" : time.getMilliseconds() //millisecond
                    };
                if(/(y+)/.test(format)) {
                format = format.replace(RegExp.$1, (time.getFullYear()+"").substr(4 - RegExp.$1.length));
                }
                for(var k in o) {
                    if(new RegExp("("+ k +")").test(format)) {
                        format = format.replace(RegExp.$1, RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
                    }
                }
                return format;
            }
%>
    <main class="g-bd g-wp" id="j-detail">
        <div class="m-info f-cb">
            <div class="covers f-fl u-placeholder-image">
                <% if(data.share.cover_imageid) {%>
                <img src="/api/v2/web/thumbnail2/370/206/<%= data.share.cover_imageid %>" alt="<%= data.share.cell %>">
                <% } %>
            </div>
            <div class="info f-fl">
                <h3><%= data.share.cell %><% if(data.share.dec_type !== undefined) {%><small>（<%= dec_type(data.share.dec_type) %>）</small><% } %></h3>
                <p>
                    <% if(data.share.total_price !== undefined) {%>
                    <span>参考造价：<%= data.share.total_price %>万元</span>
                    <% } %>
                    <% if(data.share.work_type !== undefined) {%>
                    <span>包工类型：<%= work_type(data.share.work_type) %></span>
                    <% } %>
                    <% if(data.share.house_type !== undefined && data.share.dec_type === '0') {%>
                    <span>户型：<%= house_type(data.share.house_type) %></span>
                    <% } %>
                    <% if(data.share.business_house_type !== undefined && data.share.dec_type === '1') {%>
                    <span>类型：<%= businessHouseType(data.share.business_house_type) %></span>
                    <% } %>
                </p>
                <p>
                    <% if(data.share.house_area !== undefined) {%>
                    <span>面积：<%= data.share.house_area %>m&sup2;</span>
                    <% } %>
                </p>
                <% var process = data.share.process[data.share.process.length-1].name;
                   var dec_flow = ['量房','开工','拆改','水电','泥木','油漆','安装','竣工'];
                 %>
                <div class="step step<%= process %>">
                    <div class="line"><div class="in"></div></div>
                    <ul class="status">
                        <% dec_flow.forEach((k,v)=> { %>
                            <% if(v < process){ %>
                                <li class="active">
                            <% }else if(v == process && data.share.progress == 0){ %>
                                <li class="current">
                            <% }else if(v == 7 && data.share.progress == 1){ %>
                                <li class="active">
                            <% }else{ %>
                                <li>
                            <% } %>
                                    <div class="dot"></div>
                                    <p><%= k %></p>
                                </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <dl class="people f-fr">
                <dt>设计师</dt>
                <dd>
                    <a href="/tpl/designer/55ebfc02d6e8f37706e4f1b7">
                        <span class="u-head u-head-w40 u-head-radius">
                            <% if(data.share.designer.imageid) {%>
                            <img src="/api/v2/web/thumbnail2/40/40/<%= data.share.designer.imageid %>" alt="<%= data.share.designer.username %>">
                            <% } %>
                        </span>
                        <strong><%= data.share.designer.username %></strong>
                    </a>
                </dd>
                <dt>项目经理</dt>
                <dd><span><i class="iconfont">&#xe602;</i><strong><%= data.share.manager %></strong></span></dd>
            </dl>
        </div>
        <div class="m-step">
            <% if(process == 7 && data.share.progress == 1) { %>
            <ul class="list end">
            <% }else{ %>
            <ul class="list">
            <% } %>
                <% data.share.process.forEach((k,v)=> { %>
                <% if(process == v) { %>
                <li class="current">
                <% }else{ %>
                <li class="active">
                <% } %>
                    <dl>
                        <dt><%= dec_flow[k.name] %></dt>
                        <dd><time><%= format(k.date,'yyyy年MM月dd日') %></time></dd>
                    </dl>
                    <div class="step">
                        <span class="arrow"><i></i></span>
                        <h4 class="title">现场说明<span></span></h4>
                        <p class="txt"><%- textareaEscaped(k.description) %></p>
                        <h4 class="title">直播照片<span></span></h4>
                        <ul class="img f-cb">
                            <% k.images.forEach((m,n)=> { %>
                            <% if(n%5 === 0) { %>
                            <li class="first u-placeholder-image">
                            <% }else{ %>
                            <li class="u-placeholder-image">
                            <% } %>
                            <img data-imageid="<%= m %>" data-original="/api/v2/web/thumbnail2/185/185/<%= m %>" src="/static/img/public/load.gif" alt="" data-group="<%= v %>" data-item="<%= n %>" class="lightBox" style="cursor: pointer;">
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
    </main>
  <script type="text/javascript" data-main="/static/js/live/detail" src="/static/js/lib/require.js"></script>
<%- include('../module/footer') -%>
