    <!--[if lt IE 10]>
      <link rel="stylesheet" type="text/css" href="/static/css/ie.css" />
    <![endif]-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/static/js/lib/ie8.js"></script>
      <![endif]-->
</head>
<body>
  <div class="g-tb g-wa">
    <div class="g-wp f-cb">
      <a href="/tpl/download/index.html" class="m-app f-fl"><span>APP下载</span></a>
      <a href="/zt/merchants/index.html" class="m-events f-fr">简繁家主材火热招商中</a>
      <div class="m-user f-fr" id="j-user">
        <% if(data.header_info.user_statistic_info != undefined){ %>
        <ul>
          <li>咨询热线：400-8515-167</li>
          <li class="line"></li>
          <li class="login">
            <a href="/tpl/user/owner.html#/index">
            <span class="u-head">
            <% if(data.header_info.user_statistic_info.imageid){ %>
            <img src="/api/v2/web/thumbnail2/24/24/<%= data.header_info.user_statistic_info.imageid %>" alt="<%= data.header_info.user_statistic_info.username %>">
            <% } %>
            </span>
            <%= data.header_info.user_statistic_info.username %></a>
            <div class="user">
              <span class="arrow"><i></i></span>
              <ul>
                <li><a href="/tpl/user/owner.html#/release">免费发布装修需求</a></li>
                <li><a href="/tpl/user/owner.html#/requirementList">装修需求列表
                  <% if(data.header_info.user_statistic_info.requirement_count){ %>
                  <i><%= data.header_info.user_statistic_info.requirement_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/owner.html#/designer/1">我的意向设计师
                  <% if(data.header_info.user_statistic_info.favorite_designer_count){ %>
                  <i><%= data.header_info.user_statistic_info.favorite_designer_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/owner.html#/favorite/1">收藏作品
                  <% if(data.header_info.user_statistic_info.favorite_product_count){ %>
                  <i><%= data.header_info.user_statistic_info.favorite_product_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/owner.html#/notice/list/1?type=4-99">系统通知
                  <% if(data.header_info.user_statistic_info.platform_message_count){ %>
                  <i><%= data.header_info.user_statistic_info.platform_message_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/owner.html#/remind/list/1?type=7-8-13-9-10">需求提醒
                  <% if(data.header_info.user_statistic_info.requirement_message_count){ %>
                  <i><%= data.header_info.user_statistic_info.requirement_message_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/owner.html#/comment/1">评论
                  <% if(data.header_info.user_statistic_info.comment_message_count){ %>
                  <i><%= data.header_info.user_statistic_info.comment_message_count %></i>
                  <% } %>
                </a></li>
                <li><a href="javascript:;" class="quit">退出登录</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <% }else if(data.header_info.designer_statistic_info != undefined){ %>
        <ul>
          <li>咨询热线：400-8515-167</li>
          <li class="line"></li>
          <li class="login">
            <a href="/tpl/user/designer.html#/index">
            <span class="u-head">
            <% if(data.header_info.designer_statistic_info.imageid){ %>
            <img src="/api/v2/web/thumbnail2/24/24/<%= data.header_info.designer_statistic_info.imageid %>" alt="<%= data.header_info.designer_statistic_info.username %>">
            <% } %>
            </span>
            <%= data.header_info.designer_statistic_info.username %>
            </a>
            <div class="user">
              <span class="arrow"><i></i></span>
              <ul>
                <li><a href="/tpl/user/designer.html#/requirementList">装修需求列表
                  <% if(data.header_info.designer_statistic_info.requirement_count){ %>
                  <i><%= data.header_info.designer_statistic_info.requirement_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/designer.html#/products/1">我的作品
                  <% if(data.header_info.designer_statistic_info.product_count){ %>
                  <i><%= data.header_info.designer_statistic_info.product_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/designer.html#/favorite/1">收藏作品
                  <% if(data.header_info.designer_statistic_info.favorite_product_count){ %>
                  <i><%= data.header_info.designer_statistic_info.favorite_product_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/designer.html#/authHeart">认证中心</a></li>
                <li><a href="/tpl/user/designer.html#/notice/list/1?type=2-5-6-7-8-9-10-11-12-13-99">系统通知
                  <% if(data.header_info.designer_statistic_info.platform_message_count){ %>
                  <i><%= data.header_info.designer_statistic_info.platform_message_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/designer.html#/remind/list/1?type=14-15-16-17-18">需求提醒
                  <% if(data.header_info.designer_statistic_info.requirement_message_count){ %>
                  <i><%= data.header_info.designer_statistic_info.requirement_message_count %></i>
                  <% } %>
                </a></li>
                <li><a href="/tpl/user/designer.html#/comment/1">评论
                  <% if(data.header_info.designer_statistic_info.comment_message_count){ %>
                  <i><%= data.header_info.designer_statistic_info.comment_message_count %></i>
                  <% } %>
                </a></li>
                <li><a href="javascript:;" class="quit">退出登录</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <% }else if(data.header_info.admin_statistic_info != undefined){ %>
        <ul>
          <li>咨询热线：400-8515-167</li>
          <li class="line"></li>
          <li class="login">
            <a href="/jyz/index.html"><span><img src="/static/jyz/img/login-logo.png" alt=""></span>管理员</a>
            <div class="user">
              <span class="arrow"><i></i></span>
              <ul>
                <li><a href="javascript:;" class="quit">退出登录</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <% }else{ %>
        <ul>
          <li><a href="/tpl/user/login.html">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/tpl/user/reg.html">注册</a></li>
          <li class="line"></li>
          <li><a href="/tpl/user/designer_reg.html">设计师入驻</a></li>
          <li class="line"></li>
          <li>咨询热线：400-8515-167</li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
  <header class="g-hd g-wa" id="j-hd">
    <div class="g-wp f-cb">
      <hgroup class="m-logo f-fl">
        <h1><a href="/">简繁家</a></h1>
        <h2>我的设计师专单平台</h2>
      </hgroup>
      <div class="m-sch f-fl" id="j-sch">
        <form>
          <div class="u-sch-box f-fl">
            <div class="u-sch-ds f-fl">
              <div class="u-sch-ds-txt">
                <span><% if(data.context.url.indexOf('/tpl/mito/') != -1){ %>
                装修美图
                <% }else{ %>
                设计师
                <% } %></span><i class="arrow"></i>
              </div>
              <ul class="u-sch-ds-sel">
                <li data-uid="0">设计师</li>
                <li data-uid="1">装修美图</li>
              </ul>
            </div>
            <div class="u-sch-inp f-fl">
              <input type="text" name="" class="input" value="搜索设计师" id="">
            </div>
          </div>
          <button class="u-sch-btn f-fl" type="submit">搜索</button>
        </form>
      </div>
      <div class="m-slogan f-fr" id="j-slogan">
        <h3>简繁家实力保障</h3>
        <p>知名风投投资</p>
      </div>
    </div>
  </header>
  <nav class="g-nav g-wa">
    <div class="g-wp">
      <ul class="m-nav f-cb">
        <% if(data.context.url == '/'){ %>
        <li class="active"><a href="/">首页</a></li>
        <% }else{ %>
        <li><a href="/">首页</a></li>
        <% } %>
        <% if(data.context.url.indexOf('/tpl/design/') != -1 || data.context.url.indexOf('/tpl/designer/') != -1 || data.context.url.indexOf('/tpl/product/') != -1 ){ %>
        <li class="active"><a href="/tpl/design/index.html">设计师</a></li>
        <% }else{ %>
        <li><a href="/tpl/design/index.html">设计师</a></li>
        <% } %>
        <% if(data.context.url.indexOf('/tpl/mito/') != -1){ %>
        <li class="active"><a href="/tpl/mito/index.html">装修美图</a></li>
        <% }else{ %>
        <li><a href="/tpl/mito/index.html">装修美图</a></li>
        <% } %>
        <% if(data.context.url.indexOf('/tpl/live/') != -1){ %>
        <li class="active"><a href="/tpl/live/index.html">装修直播</a></li>
        <% }else{ %>
        <li><a href="/tpl/live/index.html">装修直播</a></li>
        <% } %>
        <% if(data.context.url.indexOf('/tpl/article/') != -1){ %>
        <li class="active"><a href="/tpl/article/index.html">装修攻略</a></li>
        <% }else{ %>
        <li><a href="/tpl/article/index.html">装修攻略</a></li>
        <% } %>
        <% if(data.context.url.indexOf('/tpl/help/') != -1){ %>
        <li class="active"><a href="/tpl/help/index.html">你问我答</a></li>
        <% }else{ %>
        <li><a href="/tpl/help/index.html">你问我答</a></li>
        <% } %>
      </ul>
      <% if (data.header_info.admin_statistic_info == undefined || data.header_info.user_statistic_info == undefined || data.header_info.designer_statistic_info == undefined) { %>
      <a href="/tpl/user/owner.html#release" class="m-release bounce show" id="j-release"><span><i></i></span>免费获取三套方案</a>
      <% }else if(data.header_info.user_statistic_info != undefined){ %>
      <a href="/tpl/user/owner.html#release" class="m-release bounce show" id="j-release"><span><i></i></span>免费获取三套方案</a>
      <% } %>
    </div>
  </nav>
